@charset "UTF-8";

/* ScrollOut Setting
===================================================== */
.splitting .char {
    visibility: visible;
    color:inherit;
    opacity: 0;
    transform: translateY(30%);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-delay: calc(.2s + (.04s * var(--char-index) ) );
}
[data-scroll],[data-scroll="out"] {
    opacity: 0;
    will-change: transform, scale, opacity;
    transform: translateY(6rem) scale(0.95);
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    .splitting .char {
        opacity: 0;
        transform: translateY(30%);
    }
}
[data-scroll="in"] {
    opacity: 1;
    transform: translateY(0) scale(1);
    .splitting .char {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes DropDown {
    0% {
        top:-200px;
    }
    100% {
        top:0;
    }
}
