/* Imports
===================================================== */
@import "config";

/* Girls List
===================================================== */
.c-bannerMainVisual {
  position: relative;

  &__title {
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 30px;
    text-align: center;
    color: #fff;

    h1 {
      font-size: 2.8rem;
      margin-bottom: 7px;
    }

    p {
      font-size: 1.1rem;
      letter-spacing: 1px;
    }
  }
}

.p-girlsList {
  .p-top2 {
    margin: 0;
    padding: 35px 0 30px;

    .c-row {
      display: block;
    }

    .slick-list {
      overflow: initial;
    }
  }

  .p-page1 {
    margin: 51px 0;

    .c-dropFilter {
      position: relative;

      &__title {
        display: block;
        position: relative;
        border: 1px solid #E5E5E5;
        font-size: 1.1rem;
        letter-spacing: .5px;
        padding: 16px 22px;
        cursor: pointer;

        svg {
          position: absolute;
          right: 22px;
          top: calc(50% - 3px);
          transition: all .25s;
        }
      }

      &__List {
        border: 1px solid #E5E5E5;
        border-top: 0;
        padding: 16px 22px;
        position: absolute;
        width: 100%;
        background: #fff;
        display: none;

        li {
          line-height: 35px;
          font-size: 1.1rem;
        }
      }
    }

    .c-btn {
      padding: 15px 18px;
      margin-top: 15px;
      border-color: #000;
      background: #000;
      color: #fff;
      font-family: $base-text;

    }

    .c-countItem {
      margin: 28px 0 22px;
    }

    .c-row {
      display: flex;
      flex-flow: row wrap;
      margin: 0 -7.5px;

      &__col {
        width: 50%;
        padding: 0 7.5px;
        margin-bottom: 31px;
      }
    }

    .article {

      &__content--tag {
        display: flex;
        margin-bottom: 12px;
        margin-top: 16px;

        span {
          font-size: 1rem;
          padding: 2px 7px;
          background: #E5E5E5;
          color: #000;
          font-weight: 700;

          &:first-child {
            background: #9F8967;
            color: #fff;
          }
        }
      }

      &__content {
        p {
          color: #9F8967;
          margin-bottom: 3px;
          letter-spacing: 1px;
        }
      }
    }
  }

}

/* Girls List detail
===================================================== */
.p-girlsList--detail {
  .c-deatailImage {
    .slick-dots {
      margin-top: 15px;
      margin-bottom: 38px;
      display: flex;
      flex-wrap: nowrap;
      padding-left: 30px;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      li {
        flex: 0 0 73px;
        width: 73px;
        margin-right: 8px;

        &:last-child {
          margin-right: 30px;
        }


        button {
          cursor: pointer;
          position: relative;
          border: 1px solid transparent;

        }

        &.slick-active {
          button {
            border-color: #222222;
          }
        }

        span {
          display: block;
          width: 73px;
          height: 97px;
          background-size: contain;
        }
      }
    }
  }

  .c-girlsTag {
    margin-bottom: 24px;

    span {
      display: inline-block;
      height: 20px;
      line-height: 20px;
      padding: 0 11px;
      background: #F3F3F3;
      font-weight: 700;

      &:first-child {
        background: #9F8967;
        color: #fff;
      }
    }
  }

  .c-girlsMeta {
    h2 {
      font-size: 1.2rem;
      color: #9F8967;
      font-weight: 700;
      letter-spacing: 2px;
      margin-bottom: 3px;
      font-family: $base-text;
    }

    h1 {
      font-size: 2rem;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 6px;
      font-family: $base-text;
    }

    .u-author {
      font-size: 1rem;
      font-family: $head-text;
      color: #000000;
      opacity: .4;
    }

    .sub-desc {
      margin-top: 20px;
      font-size: 1.2rem;
      border-top: 1px solid #E5E5E5;
      border-bottom: 1px solid #E5E5E5;
      padding: 13px 0;
      line-height: 24px;
    }

    .description {
      margin-top: 29px;
      font-size: 1.2rem;
      font-family: "Hiragino Mincho ProN";
      line-height: 26px;
      letter-spacing: 1px;
    }
  }

  .c-schedule {
    margin: 53px 0 55px;

    h3 {
      font-size: 2rem;
      letter-spacing: 2px;
      margin-bottom: 21px;
    }

    &__title {
      display: flex;
      background: #F3F3F3;
      margin-bottom: 23px;

      span {
        display: block;
        width: 85px;
        background: #222222;
        font-size: 1.1rem;

        color: #fff;
        text-transform: uppercase;
      }

      p {
        width: calc(100% - 85px);
        letter-spacing: 1px;
        font-size: 1.2rem;
      }

      span,
      p {
        padding: 12px 10px 11px;
        text-align: center;
        font-family: $head-text;
      }
    }

    &__list {
      display: flex;

      &--day {
        flex: 0 0 calc(100% / 6);
        text-align: center;
        font-family: $head-text;

        p {
          margin: 0;
        }

        .Days {
          color: #999999;
          font-family: $head-text;
          border-radius: 50%;
          width: 48px;
          height: 48px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 auto 10px;

          span {
            display: block;
            font-size: 9px;

            &:last-child {
              color: #000;
              font-size: 15px;
            }
          }
        }

        &.is-active {
          .Days {
            background-color: #F3F3F3;
          }
        }
      }
    }
  }

  .c-bannerArea {
    background-image: url(../../assets/images/girls-list-detail/no42.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    padding: 37px 0 50px;

    h2 {
      font-size: 14px;
      text-align: center;
      font-weight: 700;
      font-family: $base-text;
      color: #fff;
      letter-spacing: 2px;
      margin-bottom: 18px;
    }

    &__action {
      display: flex;
      gap: 11px;

      .c-btn {
        padding: 15px;
        color: #fff;

        &:not(.btn--primary) {
          border-color: #7D7D7D;

          &:hover {
            border-color: #000;
          }
        }
      }
    }
  }
}